<div class="about">
    <h2>Sobre o Moments</h2>
    <p>"O projeto Moments foi desenvolvido em correlação com o 
        conteúdo e material apresentado pelo canal do YouTube: Matheus Battisti - Hora de Codar. 
        Tem por intuito um ambiente de compartilhamento de momentos através de posts.
        O projeto foi desenvolvido utilizando linguagem TypeScript com o framework Angular e uma API
        em AdonisJS, o mvp possui todas as ações de CRUD inseridas."  
    </p>
    <p>Compartilhe seus momentos, e receba comentários de quem você mais gosta!</p>
    <a routerLink="/moments/new">Quero participar!</a>
</div>